<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid justify-content-center">
      <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
        <ul class="navbar-nav text-center me-auto mb-2 mb-lg-0">
            <li class="nav-item ms-3"><a class="nav-link" href="">Design</a></li>
            <li class="nav-item ms-3"><a class="nav-link" href="">Inspiration</a></li>
            <li class="nav-item ms-3"><a class="nav-link" href="">Sports</a></li>
            <li class="nav-item ms-3"><a class="nav-link" href="">Politics</a></li>
        </ul>
      </div>
    </div>
</nav>
