<div class="card">
    <img 
    src="https://images.pexels.com/photos/87584/pexels-photo-87584.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" 
    alt="post-image"
    class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ms-3">Featured</small>
        <small class="bg-light text-info text-center ms-3">Views - 2134</small>

        <h5 class="mt-1">HOW TO START A BLOG IN 2023</h5>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
            sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, 
            sed diam voluptua. At vero eos et accusam et</p>

        <small class="bg-light text-warning text-center ml-3">LAST UPDATED - SEP 20, 2022</small>    
    </div>

</div>
